html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 10px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

#main {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem; /* Footer height */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem; /* Footer height */
}

.pointer {
    cursor: pointer;
}

.search-bar {
    display: flex;
    justify-content: space-between;
}

.text-area {
    border: 2px solid black;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.search-bar input {
    width: 100%;
    border: none;
    outline: none;
}

.text-area button {
    border: none;
    outline: none;
    background: none;
    border-radius: 50%;
}

#btn-submit-txt {
    border: 2px solid black;
    border-left: none;
    outline: none;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
