@{
    ViewData["Title"] = "Nhà sách Online uy tín nhất Việt Nam";
}

<div class="container">
    <div class="row">
        <div id="carouselExampleIndicators" class="col-8 carousel slide container rounded-lg" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner rounded-lg">
                <div class="carousel-item active">
                    <img src="https://cdn0.fahasa.com/media/magentothem/banner7/megasale0922_resize_840x320.jpg" class="d-block w-100">
                </div>
                <div class="carousel-item">
                    <img src="https://cdn0.fahasa.com/media/magentothem/banner7/Big_sale_2_Slide_840x320.jpg" class="d-block w-100">
                </div>
                <div class="carousel-item">
                    <img src="https://cdn0.fahasa.com/media/magentothem/banner7/casio_resize_webt9_840x320.jpg" class="d-block w-100">
                </div>
                <div class="carousel-item">
                    <img src="https://cdn0.fahasa.com/media/magentothem/banner7/TrungThuT0822__Banner_840x320.jpg" class="d-block w-100">
                </div>
            </div>
            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#carouselExampleIndicators" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>

        <div class="col-4">
            <a href="#">
                <img class="d-block w-100 rounded-lg" src="https://cdn0.fahasa.com/media/wysiwyg/Thang-09-2022/megasale0922_flashsale_392x156.jpg" />
            </a>
            <a href="#">
                <img class="d-block w-100 rounded-lg" src="https://cdn0.fahasa.com/media/wysiwyg/Duy-VHDT/STKT9_Banner_392x156.jpg" />
            </a>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-3">
            <a href="#">
                <img class="d-block w-100 rounded-lg" src="https://cdn0.fahasa.com/media/wysiwyg/Thang-08-2022/megasale0922_coupon_310x210px.png" />
            </a>
        </div>
        <div class="col-3">
            <a href="#">
                <img class="d-block w-100 rounded-lg" src="https://cdn0.fahasa.com/media/wysiwyg/Thang-08-2022/MOCA-T09.2022_310x210.png" />
            </a>
        </div>
        <div class="col-3">
            <a href="#">
                <img class="d-block w-100 rounded-lg" src="https://cdn0.fahasa.com/media/wysiwyg/Duy-VHDT/310x210_B2S_T9.jpg" />
            </a>
        </div>
        <div class="col-3">
            <a href="#">
                <img class="d-block w-100 rounded-lg" src="https://cdn0.fahasa.com/media/wysiwyg/Thang-09-2022/VNPAY-T09.2022_310x210_09.09-GIAM-20K.png" />
            </a>
        </div>
    </div>

    <div class="row">

    </div>
</div>
